.img1 , .img2, .img3
{
    width: 90%;
    height: 300px;
    margin-left: 50px;
    padding-top: 20px;
}
h1{
    font-size: 2.3em;
    color: rgb(75, 75, 184);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
    text-align: justify;
    background-color: rgb(99, 106, 184);
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-size: 2em;
    color: aqua;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}